.mini {
  * {
    font-family: 'Mini_handwriting';
  }
}
.Jeju {
  * {
    font-family: 'Jeju Myeongjo';
  }
}
.NanumSquare {
  * {
    font-family: 'NanumSquare';
  }
}
.Pretendard {
  * {
    font-family: Pretendard;
  }
}
