.mini {
  * {
    font-family: 'Mini_handwriting';
  }
  // height: 100dvh;
}
.Jeju {
  * {
    font-family: 'Jeju Myeongjo';
  }
  // height: 100dvh;
}
.NanumSquare {
  * {
    font-family: 'NanumSquare';
  }
  // height: 100dvh;
}
.Pretendard {
  * {
    font-family: Pretendard;
  }
  // height: 100dvh;
}
