.full-container {
  width: 390px;
  height: auto;
  position: fixed;
  bottom: 0;
  border-top-right-radius: var(--radii-2);
  border-top-left-radius: var(--radii-2);
  background-color: #fff;
  border: 1px solid var(--gray400);
  .header {
    width: 100%;
    height: 56px;
    margin-top: 25px;
    text-align: center;
    span {
      font-size: var(--size-5);
      font-weight: 600;
      text-align: center;
    }
    button {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 23px;
      right: 12px;
      font-size: 15px;
      cursor: pointer;
    }
  }
  .content {
    width: 100%;
    height: auto;
  }
}
