.container {
  text-align: center;
  width: 100%;
  color: var(--gray800);
  span {
    font-weight: 500;
  }
  .select-container {
    display: flex;
    margin: var(--size-5) 1.875rem;
    span {
      padding-right: 0.625rem;
    }
    button {
      width: 8rem;
      height: 2.5rem;
      border: 1px solid var(--gray400);
      border-radius: var(--radii-sm);
      background-color: transparent;
      font-size: var(--size-4);
      font-weight: 300;
      text-indent: 10px;
      color: var(--color-1);
      outline: none;
      cursor: pointer;
      margin: var(--size-2) var(--size-4) 0 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
  div.active {
    height: 20rem;
    position: absolute;
    overflow-y: scroll;
    margin-top: var(--size-2);
    border: 1px solid var(--gray400);
    border-radius: var(--radii-sm);
    width: 8rem;
    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 4px solid transparent;
      background: #606060;
      background-clip: content-box;
      border-radius: 8px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      height: auto;
      background-color: var(--white);
      li {
        display: flex;
        justify-content: left;
        padding-left: var(--size-5);
        align-items: center;
        width: 100%;
        height: 2.5rem;
        cursor: pointer;
      }
    }
  }
}
