.container {
  width: 100%;
  height: var(--size-12);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  button {
    position: relative;
    left: -8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
