.full-container {
  width: 343px;
  height: auto;
  border-radius: var(--radii-2);
  background-color: var(--white);
  margin: auto;
  display: block;
  position: fixed;
  z-index: 9;
  border: var(--gray400) 1px solid;
  .header {
    width: 100%;
    height: 58px;
    padding-top: 29px;
    position: relative;
    h3 {
      font-size: var(--size-5);
      font-weight: 600;
      text-align: center;
    }
    button {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 23px;
      right: 12px;
      font-size: 15px;
      cursor: pointer;
    }
  }
  .content {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
}
