.container {
  width: 100%;
  height: 100%;
  .calendar-container {
    width: 100%;
    height: 100%;
    margin: var(--size-1) 0 0 var(--size-1);
    border-top: 1px dashed var(--gray400);
    border-left: 1px dashed var(--gray400);
    border-radius: var(--size-1);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border: 4px solid transparent;
      background: #606060;
      background-clip: content-box;
      border-radius: 8px;
    }
    .content {
      padding: 0 var(--size-5);
      margin-top: var(--size-5);
      h1 {
        font-weight: 500;
        font-size: var(--size-5);
        margin-bottom: var(--size-1);
      }
      p {
        font-weight: 300;
        color: var(--gray700);
        font-size: var(--size-4);
        margin-bottom: var(--size-5);
      }
    }
  }
}

.is-not-diary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 6.125rem;
    height: 6.125rem;
    margin-bottom: var(--size-2);
  }
  h1 {
    font-weight: 700 !important;
    font-size: 1.25rem;
    color: var(--gray700);
  }
  p {
    margin-top: var(--size-2);
    font-weight: 400;
    font-size: var(--size-4);
    color: var(--gray600);
  }
}
