.container {
  width: 100%;
  height: 100%;
  .calendar-container {
    width: 100%;
    height: 100%;
    margin: var(--size-1) 0 0 var(--size-1);
    border-top: 1px dashed var(--gray400);
    border-left: 1px dashed var(--gray400);
    border-radius: var(--size-1);
    overflow-y: scroll;
    .content {
      padding: 0 var(--size-5);
      margin-top: var(--size-5);
      h1 {
        font-weight: 500;
        font-size: var(--size-5);
        margin-bottom: var(--size-1);
      }
      p {
        font-weight: 300;
        color: var(--gray700);
        font-size: var(--size-4);
        margin-bottom: var(--size-5);
      }
    }
  }
}
