.container {
  width: 100%;
  height: 100%;

  .feedback-container {
    height: 80%;

    padding: var(--size-5);
    p {
      font-weight: 400;
      font-size: 14px;
      color: var(--gray500);
    }
    .rating {
      margin: var(--size-8) 0 var(--size-5) 0;
    }
    div textarea {
      font-weight: 400;
      font-size: 14px;
      height: 6.25rem;
      &::placeholder {
        color: var(--gray500);
      }
    }
  }
  .button-box {
    width: 100%;
    height: 20%;
    display: flex;
    button {
      width: 90%;
      height: 3.75rem;
      margin: 0 auto;
    }
  }
}
