.calendar-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: var(--gray900);
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 1.125rem;
  }
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 0.75rem;
  place-items: stretch;
}

.day-item {
  list-style: none;
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  cursor: pointer;

  position: relative;
  transition: all 0.1s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    background-color: var(--primary);

    width: 4px;
    height: 4px;

    bottom: 0;

    border-radius: 9999px;

    // display: none;
    transition: opacity 0.6s ease-in-out;
    opacity: 0;
  }
}

.header-item {
  font-weight: 600;
}

.has-item {
  &::before {
    // display: block;
    opacity: 1;
  }
}

.active-item {
  background-color: var(--primary);
  border-radius: 9999px;
  color: var(--white);
  font-weight: 600;
}

.grayed {
  color: var(--gray400);
}
