.kakao-login-button {
  width: 22.5rem;
  height: 3.375rem;
  background-color: #fee500;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--radii-6);
  img {
    transform: translateX(-5.625rem);
  }
}
