.container {
  .kakao-login-button {
    width: 100%;
    height: 50px;
    background-color: #fee500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
