.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  max-height: 100dvh;
  min-height: 100dvh;
}

.tab-list {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  overflow-x: scroll;
  overflow-y: hidden;

  border-bottom: 1px solid var(--gray200);

  scrollbar-width: none;
}

.tab-item {
  list-style: none;

  padding: 1rem 1.5rem 1.5rem;
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 1.125rem;
  user-select: none;

  transform: translateY(10px);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  min-width: fit-content;
  background-color: var(--gray200);

  &:hover {
    transform: translateY(0);
  }
}

.active-tab-item {
  background-color: var(--primary);
  font-weight: 600;
  color: var(--white);
  transform: translateY(0);
}

.diary-body {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  flex: 1;
  min-height: 0;
  overflow-y: scroll;
  padding-inline: 1rem;

  scrollbar-width: none;
}

.writing-section {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  padding: 1rem;
  border-top: 1px solid var(--gray300);

  input {
    border: none;
    flex: 1;
    font-size: 1rem;
  }
}

.reply-mode {
  position: absolute;
  bottom: 100%;
  padding: 0.5rem;
  background-color: var(--gray100);
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: 500;

  animation: shining 2s 1s alternate infinite;
}

@keyframes shining {
  from {
    color: var(--gray900);
  }

  to {
    color: var(--gray500);
  }
}

.diary-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.title {
  font-size: 1.3125rem;
  font-weight: 600;
}

.diary-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.diary-tool {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.75rem;

  color: var(--gray700);
}

.image-list {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 100%;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background: #606060;
    background-clip: content-box;
    border-radius: 8px;
  }
}

.image-wrapper {
  display: flex;
  min-width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--gray100);

  scroll-snap-align: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.delimitor {
  height: 1px;
  width: 100%;
  background-color: var(--gray300);
}

.row-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.col-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comment-profile-wrapper {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  font-weight: 600;
}

.comment-tool {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  color: var(--gray700);
}

.comment-item {
  padding-block: 1rem;
}

.reply-item {
  padding-block: 1rem;
  padding-inline: 2rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

li {
  list-style: none;
}

.greyed {
  color: var(--gray700);
}

.fz14 {
  font-size: 0.875rem;
}

.comment-section {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;

  border-top: 1px solid var(--gray300);
  padding-block: 1rem 3rem;
}

.load-more {
  width: 100%;
  padding: 0.5rem 0;
  border: 1px solid var(--gray300);
  border-radius: 0.25rem;
  font-weight: 500;
  text-align: center;

  transform: scale(1);
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: var(--gray100);
  }

  &:active {
    transform: scale(0.95);
  }
}

.disabled {
  color: var(--gray400);
}

.fill-primary {
  fill: var(--primary);
  color: var(--primary);
}

.skeleton-item {
  background-color: var(--gray100);
  border-radius: 0.25rem;
  animation: 1s shining alternate-reverse infinite ease-in-out;
}

@keyframes shining {
  from {
    background-color: var(--gray100);
  }

  to {
    background-color: var(--gray200);
  }
}
