@mixin comment-reply-box {
  display: flex;
  img {
    width: var(--size-10);
    height: var(--size-10);
    border-radius: 50%;
    object-fit: cover;
  }
  .body {
    div {
      margin-left: 1.125rem;
      color: var(--gray1000);
      span {
      }
      p {
        margin-top: var(--size-2);
      }
    }
    .etc {
      margin-top: var(--size-2);
      color: var(--gray500);
      font-size: 0.875rem;
    }
  }
  @content;
}

.container {
  width: 100%;
  height: 100%;
  .tablist-container {
    width: 100%;
    height: 3rem;
    margin: var(--size-5) 0 var(--size-8) 0;
    div {
      width: calc(100% - var(--size-4));
      white-space: nowrap;
      overflow-x: auto;
      margin: 0 auto;
      &::-webkit-scrollbar {
        width: 16px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border: 4px solid transparent;
        background: #606060;
        background-clip: content-box;
        border-radius: 8px;
      }
      .member-tab {
        display: flex;
        align-items: end;
        .background {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
          width: 100%;
          height: var(--size-2);
        }
        .member {
          margin-right: var(--size-1);
          background: #fafafa;
          box-shadow: 0.125rem 0 0.125rem rgba(0, 0, 0, 0.24);
          border-radius: var(--size-2) var(--size-2) 0 0;
          width: auto;
          padding: 0.5313rem var(--size-5);
          height: var(--size-9);
        }

        .member.active {
          margin-right: var(--size-1);
          color: #ffffff;
          box-shadow: 0.125rem 0 0.125rem rgba(0, 0, 0, 0.24);
          border-radius: var(--size-2) var(--size-2) 0 0;
          width: auto;
          padding: 0.5313rem var(--size-5);
          height: 2.9rem;
        }
      }
    }
  }

  .scroll-container {
    width: 100%;
    height: calc(100% - 6.25rem);
    .content {
      width: calc(100% - var(--size-5) * 2);
      margin: 0 auto;
      h2 {
        font-weight: 500;
        font-size: 1.4375rem;
      }
      .etc {
        span {
          color: var(--gray500);
          font-weight: 400;
          font-size: var(--size-3);
        }
        margin-bottom: var(--size-6);
      }
      .img-box-container {
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        .img-box {
          width: 100%;
          height: 17.5rem;
          border: 1px solid var(--gray300);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .contents {
        width: 100%;
        color: var(--gray900);
        font-size: 1.375rem;
        font-weight: 300;
        margin: var(--size-4) 0 var(--size-3) 0;
        line-height: 2rem;
        text-indent: 2.3rem;

        .icons {
          position: absolute;
          top: 13.5rem;
          left: calc(50% - 11.5rem);
          float: left;
        }
      }
      .button {
        color: var(--gray500);
        font-size: 0.7rem;
        margin: var(--size-2) 0;
      }
      .comment-count {
        width: calc(100% + var(--size-5));
        transform: translateX(-1.25rem);
        font-size: var(--size-3);
        color: var(--gray500);
        margin-top: var(--size-11);
        padding-bottom: var(--size-4);
        border-bottom: 1px solid var(--gray300);
        p {
          margin-left: 1.25rem;
          font-size: 0.7rem;
        }
      }
    }
  }

  // scroll-container 내부의 comment-container
  .comment-container {
    width: 100%;
    margin: var(--size-6) 0 var(--size-12) 0;
    .comment-area {
      .comment-box {
        margin: var(--size-2) 0 var(--size-2) var(--size-5);
        @include comment-reply-box();
      }
      .reply-box {
        margin: var(--size-2) 0 var(--size-2) 4.5rem;
        @include comment-reply-box();
      }
    }
  }
  // scroll-container 내부의 comment-container 내부의 write-container
  .write-container {
    position: fixed;
    bottom: 0;
    // TODO: [fix] 일기 추가 버튼이랑 댓글 작성 컴포넌트 위치 논의
    z-index: 13;
    background-color: var(--white);
    width: auto;
    transform: translateX(-1.25rem);

    .reply-view {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--size-1) var(--size-6);
      background: var(--gray200);
      color: var(--gray600);
      font-size: var(--size-3);
      font-weight: 400;
      button svg {
        vertical-align: bottom;
      }
    }

    color: #747575;
    .comment-view {
      padding: 0 var(--size-5);
      height: 4rem;
      border-top: 1px solid var(--gray300);
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration-line: none;
      input {
        width: 16.6rem;
      }
      .add-comment {
        display: inline;
        border: none;
        padding: var(--size-3) var(--size-5);
        font-size: var(--size-4);
        &::placeholder {
          color: var(--gray500);
        }
        &:focus {
          outline: none;
        }
        &:focus-visible {
          outline: 1px solid transparent;
        }
      }
      button {
        width: 2.5rem;
        color: var(--gray500);
        &:hover {
          color: var(--orange600);
        }
      }
    }
  }
}
