.container {
  width: 100%;
  height: 100%;
  .carousel {
    width: 100%;
    height: 100%;
    &-container {
      width: 100%;
      height: calc(100% - 166px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        margin-bottom: var(--spacing-4);
      }
      .carousel-content {
        width: 317px;
        height: 136px;
        padding: var(--spacing-6);
        color: var(--white);
        h1 {
          font-size: var(--size-10);
          font-family: 'Quicksand', sans-serif !important;
          margin-bottom: var(--spacing-4);
        }
        h2 {
          font-size: var(--size-8);
          line-height: var(--spacing-10);
          font-weight: bold;
        }
      }
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        margin: 0 4px;
      }
    }
    &-0 {
      background-color: #f0d7c8;
    }
    &-1 {
      background-color: #aebcce;
    }
    &-2 {
      background-color: #ff8066;
    }
  }
  .login-container {
    margin-top: var(--spacing-4);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
