.container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

.sheet {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  left: 50%;

  border-radius: var(--radii-sm) var(--radii-sm) 0 0;
  overflow: hidden;

  transform: translateX((-50%));
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  max-width: var(--app-container-width);
  padding: var(--page-padding-y) var(--page-padding-x);
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-4);
  margin-bottom: var(--spacing-8);
}

.emotion-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
