.container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: calc(var(--app-container-width) - var(--page-padding-x) * 2);
  background: var(--white);
}

.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-10);
  border-bottom: 1px solid var(--gray300);
  text-align: center;
  white-space: pre-line;
}

.button-section {
  display: flex;
  flex-direction: row;

  button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-4);

    &:first-of-type {
      border-right: 1px solid var(--gray300);
    }
  }
}
